.form-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 20px;
  margin-top: 15px;
}

.full-width {
  width: 100%;
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

