
.machine-type-container {
  margin: 20px auto;
  padding: 10px;
  border-radius: 10px;

}

.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 15px;
}

h2 {
  font-size: 24px;
  color: #333;
  margin: 0;
}

.table-container {
  overflow-x: auto;
  
}

table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 10px;       
  overflow: hidden;           
}


thead {
  background-color: #fff;
}

th {
  text-align: left;
  padding: 14px 20px;
  color: #ffffff;
    background-color: #8e24aa;
  font-weight: bold;

}

th.actions-header {
  text-align: center;
  width: 150px;
}

td {
  padding: 14px 20px;
  border-bottom: 1px solid #eee;
  font-weight: 500;
}

td.actions {
  display: flex;
  justify-content: center;
  gap: 10px;
}

tr:hover {
  background-color: #f9f9f9;
}

.no-data {
  text-align: center;
  font-style: italic;
  color: #888;
  padding: 12px 0;
}

mat-icon {
  font-size: 20px;
  cursor: pointer;
}



