<div class="customer-container">
  <div class="header">
    <h2>Customer Details</h2>
    <button mat-raised-button color="primary" id="hbtn" (click)="openAddProductDialog()">Add Customer</button>
  </div>

  <ng-container *ngIf="customers$ | async as customers; else loading">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Customer</th>
          <th>Part</th>
          <th>Product</th>
          <th>Raw Materials</th>
          <th>Processes</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>


        
   <ng-container *ngFor="let c of customers$ | async">
  <tr>
    <td>{{ c.customerName.customerName }}</td>
    <td>{{ c.partName }}</td>
    <td>{{ getLatestRevision(c)?.productName }}</td>

    <td>
  <ng-container *ngIf="getLatestRevision(c)">
    {{ getLatestRevision(c).noOfRawMaterials }}
  </ng-container>
  <ng-template #noMaterial>
    <span>No Raw Materials</span>
  </ng-template>
</td>


    <td>
      <ng-container *ngIf="getLatestRevision(c) ; else noProcess">
       {{getLatestRevision(c).noOfProcess}}
      </ng-container>
      <ng-template #noProcess>
        <span>No Processes</span>
      </ng-template>
    </td>

    <td class="actions">
      <mat-icon class="icon" (click)="onEdit(c)">edit</mat-icon>
      <mat-icon class="icon" (click)="onDelete(c._id)">delete</mat-icon>
      <ng-container >
<mat-icon class="icon" (click)="toggleCompare(c)">
  {{ expandedCustomer === c ? 'expand_less' : 'expand_more' }}
</mat-icon>
      </ng-container>
    </td>
  </tr>

  <!-- 🔽 Nested table row -->
  <tr  *ngIf="expandedCustomer === c">
    <td id="subbg" colspan="6">
      <table class="table table-sm table-bordered nested-table">
        <thead >
          <tr >
            <th class="subtable" >Revision</th>
            <th class="subtable">Product</th>
            <th class="subtable">Raw Materials</th>
            <th class="subtable">Processes</th>
          </tr>
        </thead>
       <tbody>
  <tr *ngFor="let rev of c.revisions; let i = index">
    <!-- Revision -->
    <td class="small-col">
      <mat-checkbox
        [(ngModel)]="rev.selected"
        (change)="onRevisionSelect(rev, $event)"
      ></mat-checkbox>
      Revision {{ rev.revisionNumber || (i + 1) }}
    </td>

    <!-- Product -->
    <td class="small-col">
      {{ rev.productName }}
    </td>

  <!-- Raw Materials (comma separated) -->
<td class="wide-col">
  {{ getRawMaterialList(rev.rawMaterial) }}
</td>

<!-- Processes (comma separated) -->
<td class="wide-col">
  {{ getProcessList(rev.processes) }}
</td>

  </tr>

  <!-- Compare button -->
  <tr>
    <td colspan="6" class="text-center">
      <button
        mat-raised-button
        color="primary"
        (click)="openComparePopup()"
        [disabled]="!canCompare()"
      >
        Compare Selected
      </button>
    </td>
  </tr>
</tbody>

      </table>
    </td>
  </tr>
</ng-container>





      </tbody>
    </table>
  </ng-container>

  <ng-template #loading>
    <p>Loading customer data...</p>
  </ng-template>
</div>


<div class="compare-popup" *ngIf="showComparePopup" (click)="closeComparePopup()">
  <div class="compare-popup-content" (click)="$event.stopPropagation()">
    <h3>Compare Revisions</h3>


     <div class="revision-selector">
      <h4>Select Revisions to Compare</h4>
      <div class="revision-checkboxes">
        <div *ngFor="let rev of expandedCustomer?.revisions">
        <mat-checkbox
          [(ngModel)]="rev.selected"
          (change)="onRevisionSelectPopup(rev, $event)"
        >
          Revision {{ rev.revisionNumber || 'N/A' }}
        </mat-checkbox>
      </div>
      </div>
      
    </div>

    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Field</th>
          <th>Revision {{ selectedRevisions[0]?.revisionNumber }}</th>
    <th>Revision {{ selectedRevisions[1]?.revisionNumber }}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><b>Product Name</b></td>
          <td>{{ selectedRevisions[0].productName }}</td>
          <td>{{ selectedRevisions[1].productName }}</td>
        </tr>
       <tr>
    <td><b>Revision Number</b></td>
    <td [ngClass]="getCellClass('revisionNumber')">{{ selectedRevisions[0].revisionNumber }}</td>
    <td [ngClass]="getCellClass('revisionNumber')">{{ selectedRevisions[1].revisionNumber }}</td>
  </tr>

  <tr>
    <td><b>Cavities</b></td>
    <td [ngClass]="getCellClass('cavities')">{{ selectedRevisions[0].cavities }}</td>
    <td [ngClass]="getCellClass('cavities')">{{ selectedRevisions[1].cavities }}</td>
  </tr>

  <tr>
    <td><b>Casting Weight</b></td>
    <td [ngClass]="getCellClass('castingWeight')">{{ selectedRevisions[0].castingWeight }}</td>
    <td [ngClass]="getCellClass('castingWeight')">{{ selectedRevisions[1].castingWeight }}</td>
  </tr>

  <tr>
    <td><b>Short Weight</b></td>
    <td [ngClass]="getCellClass('shortWeight')">{{ selectedRevisions[0].shortWeight }}</td>
    <td [ngClass]="getCellClass('shortWeight')">{{ selectedRevisions[1].shortWeight }}</td>
  </tr>

  <tr>
    <td><b>Melting Loss</b></td>
    <td [ngClass]="getCellClass('meltingLoss')">{{ selectedRevisions[0].meltingLoss }}</td>
    <td [ngClass]="getCellClass('meltingLoss')">{{ selectedRevisions[1].meltingLoss }}</td>
  </tr>

  <tr>
    <td><b>Rejection</b></td>
    <td [ngClass]="getCellClass('Rejection')">{{ selectedRevisions[0].Rejection }}</td>
    <td [ngClass]="getCellClass('Rejection')">{{ selectedRevisions[1].Rejection }}</td>
  </tr>

  <tr>
    <td><b>Packing</b></td>
    <td [ngClass]="getCellClass('Packing')">{{ selectedRevisions[0].Packing }}</td>
    <td [ngClass]="getCellClass('Packing')">{{ selectedRevisions[1].Packing }}</td>
  </tr>

  <tr>
    <td><b>Interest Rate</b></td>
    <td [ngClass]="getCellClass('InterestRate')">{{ selectedRevisions[0].InterestRate }}</td>
    <td [ngClass]="getCellClass('InterestRate')">{{ selectedRevisions[1].InterestRate }}</td>
  </tr>

  <tr>
    <td><b>Inspector Cost</b></td>
    <td [ngClass]="getCellClass('InspectorCost')">{{ selectedRevisions[0].InspectorCost }}</td>
    <td [ngClass]="getCellClass('InspectorCost')">{{ selectedRevisions[1].InspectorCost }}</td>
  </tr>

  <tr>
    <td><b>Status</b></td>
    <td [ngClass]="getCellClass('Status')">{{ selectedRevisions[0].Status }}</td>
    <td [ngClass]="getCellClass('Status')">{{ selectedRevisions[1].Status }}</td>
  </tr>

  <tr>
    <td><b>Tool Ambience</b></td>
    <td [ngClass]="getCellClass('ToolAmbience')">{{ selectedRevisions[0].ToolAmbience }}</td>
    <td [ngClass]="getCellClass('ToolAmbience')">{{ selectedRevisions[1].ToolAmbience }}</td>
  </tr>

  <tr>
    <td><b>No. of Raw Materials</b></td>
    <td [ngClass]="getCellClass('noOfRawMaterials')">{{ selectedRevisions[0].noOfRawMaterials }}</td>
    <td [ngClass]="getCellClass('noOfRawMaterials')">{{ selectedRevisions[1].noOfRawMaterials }}</td>
  </tr>

  <tr>
    <td><b>No. of Processes</b></td>
    <td [ngClass]="getCellClass('noOfProcess')">{{ selectedRevisions[0].noOfProcess }}</td>
    <td [ngClass]="getCellClass('noOfProcess')">{{ selectedRevisions[1].noOfProcess }}</td>
  </tr>

      <!-- Raw Materials -->
<tr>
  <td><b>Raw Materials</b></td>
  <td>
    <div *ngFor="let mat of selectedRevisions[0].rawMaterial; let i = index">
      <span [ngClass]="{
        'diff': isDifferent(mat.GradeName, selectedRevisions[1]?.rawMaterial?.[i]?.GradeName)
      }">
        {{ mat.GradeName }}
      </span>
      (<span [ngClass]="{
        'diff': isDifferent(mat.RatePerKg, selectedRevisions[1]?.rawMaterial?.[i]?.RatePerKg)
      }">
        {{ mat.RatePerKg | number:'1.2-2' }} Rs/Kg
      </span>)
    </div>
  </td>
  <td>
    <div *ngFor="let mat of selectedRevisions[1].rawMaterial; let i = index">
      <span [ngClass]="{
        'diff': isDifferent(mat.GradeName, selectedRevisions[0]?.rawMaterial?.[i]?.GradeName)
      }">
        {{ mat.GradeName }}
      </span>
      (<span [ngClass]="{
        'diff': isDifferent(mat.RatePerKg, selectedRevisions[0]?.rawMaterial?.[i]?.RatePerKg)
      }">
        {{ mat.RatePerKg | number:'1.2-2' }} Rs/Kg
      </span>)
    </div>
  </td>
</tr>


        <!-- Processes -->
<tr>
  <td><b>Processes</b></td>
  <td>
    <div *ngFor="let p of selectedRevisions[0].processes; let i = index">
      <div class="process-block">
        <p><b>Processes Name:</b> 
          <span [ngClass]="{'diff': isDifferent(p.processName, selectedRevisions[1]?.processes?.[i]?.processName)}">
            {{ p.processName }}
          </span>
        </p>
        <p><b>Tonnage/Jaw:</b> 
          <span [ngClass]="{'diff': isDifferent(p.TonnageJaw, selectedRevisions[1]?.processes?.[i]?.TonnageJaw)}">
            {{ p.TonnageJaw }}
          </span>
        </p>
        <p><b>Hours:</b> 
          <span [ngClass]="{'diff': isDifferent(p.Hours, selectedRevisions[1]?.processes?.[i]?.Hours)}">
            {{ p.Hours }}
          </span>
        </p>
        <p><b>Cycle time/Weight:</b> 
          <span [ngClass]="{'diff': isDifferent(p.cycleTime, selectedRevisions[1]?.processes?.[i]?.cycleTime)}">
            {{ p.cycleTime }}
          </span>
        </p>
        <p><b>Cost:</b> 
          <span [ngClass]="{'diff': isDifferent(p.cost, selectedRevisions[1]?.processes?.[i]?.cost)}">
            {{ p.cost | number:'1.2-2' }}
          </span>
        </p>
      </div>
      <hr />
    </div>
  </td>
  <td>
    <div *ngFor="let p of selectedRevisions[1].processes; let i = index">
      <div class="process-block">
        <p><b>Processes Name:</b> 
          <span [ngClass]="{'diff': isDifferent(p.processName, selectedRevisions[0]?.processes?.[i]?.processName)}">
            {{ p.processName }}
          </span>
        </p>
        <p><b>Tonnage/Jaw:</b> 
          <span [ngClass]="{'diff': isDifferent(p.TonnageJaw, selectedRevisions[0]?.processes?.[i]?.TonnageJaw)}">
            {{ p.TonnageJaw }}
          </span>
        </p>
        <p><b>Hours:</b> 
          <span [ngClass]="{'diff': isDifferent(p.Hours, selectedRevisions[0]?.processes?.[i]?.Hours)}">
            {{ p.Hours }}
          </span>
        </p>
        <p><b>Cycle time/Weight:</b> 
          <span [ngClass]="{'diff': isDifferent(p.cycleTime, selectedRevisions[0]?.processes?.[i]?.cycleTime)}">
            {{ p.cycleTime }}
          </span>
        </p>
        <p><b>Cost:</b> 
          <span [ngClass]="{'diff': isDifferent(p.cost, selectedRevisions[0]?.processes?.[i]?.cost)}">
            {{ p.cost | number:'1.2-2' }}
          </span>
        </p>
      </div>
      <hr />
    </div>
  </td>
</tr>

      </tbody>
    </table>

    <button mat-raised-button color="warn" (click)="closeComparePopup()">Close</button>
  </div>
</div>




