<div class="customer-container">
  <div class="header">

    <h2>Customer Details</h2>
  <button mat-raised-button color="primary" (click)="openAddProductDialog()">Add Customer</button>
  </div>
  <ng-container *ngIf="customers$ | async as customers; else loading">
    <table class="table table-bordered">
      <thead>
        <tr>
         
          <th>Product</th>
          <th>Part</th>
          <th>Raw Materials</th>
          <th>Processes</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let c of customers">
         
          <td>{{ c.productName }}</td>
          <td>{{ c.partName }}</td>
        <td>
  <div *ngIf="c.rawMaterial && c.rawMaterial.length > 0; else noMaterial">
    <div *ngFor="let mat of c.rawMaterial">
      {{ mat.GradeName }} ({{ mat.RatePerKg }} Rs/Kg)
    </div>
  </div>
  <ng-template #noMaterial>
    <span>No Raw Materials</span>
  </ng-template>
</td>

          <td>{{ c.noOfProcess }}</td>
            <td class="actions">
            <mat-icon class="icon" (click)="onEdit(c)" >edit</mat-icon>
            <mat-icon class="icon" (click)="onDelete(c._id)" >delete</mat-icon>
          </td>
        </tr>
      </tbody>
    </table>
  </ng-container>

  <ng-template #loading>

    <p>Loading customer data...</p>
  </ng-template>
</div>
