<h2 mat-dialog-title>
  {{ isEditMode ? 'Edit Customer' : 'Add Customer' }}
</h2>

<div mat-dialog-content>
  <form [formGroup]="customerForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Customer Name</mat-label>
      <input matInput formControlName="customerName" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Address</mat-label>
      <input matInput formControlName="address" />
    </mat-form-field>

    <div mat-dialog-actions >
      <button mat-button type="button" (click)="cancel()" >Cancel</button>
      <button mat-raised-button color="primary" type="submit" [disabled]="customerForm.invalid">
        {{ isEditMode ? 'Update' : 'Add' }}
      </button>
    </div>
  </form>
</div>
