<div class="container">
  <h2 mat-dialog-title>
    {{ isEditMode ? 'Edit Customer' : 'Add Customer' }}
  </h2>

  <div >
    <form [formGroup]="customerForm" (ngSubmit)="onSubmit()">
      <div class="form-container">

        <div style="width: 90vh;">
          
          <mat-form-field appearance="fill" class="field">
            <mat-label>Customer Name</mat-label>
            <input matInput formControlName="customerName" />
            <mat-error *ngIf="customerForm.get('customerName')?.hasError('required')">
              Customer Name is required
            </mat-error>
          </mat-form-field>

                     <mat-form-field appearance="fill" class="field">
  <mat-label>Address</mat-label>
  <textarea matInput formControlName="address" rows="8" ></textarea>
</mat-form-field>




    
        </div>
        <div>

           

          <mat-form-field appearance="fill" class="field">
            <mat-label>Email</mat-label>
            <input matInput type="email" formControlName="email" />
          </mat-form-field>



          <mat-form-field appearance="fill" class="field">
            <mat-label>Phone</mat-label>
            <input matInput type="tel" formControlName="phone" />
          </mat-form-field>
               <mat-form-field appearance="fill" class="field">
            <mat-label>GST Number</mat-label>
            <input matInput formControlName="gstNumber" />
          </mat-form-field>

          <mat-form-field appearance="fill" class="field">
            <mat-label>Transport</mat-label>
            <mat-select  formControlName="transport">
              <mat-option value="domestic">Domestic</mat-option>
              <mat-option value="international">International</mat-option>
            </mat-select>
            <mat-error *ngIf="customerForm.get('transport')?.hasError('required')">
              Transport is required
            </mat-error>
          </mat-form-field>


        </div>

      </div>








      <!-- Customer Cost Field -->
      <!-- <mat-form-field appearance="fill" class="field">
        <mat-label>Base Cost</mat-label>
        <input matInput type="number" formControlName="baseCost" placeholder="Enter base cost">
      </mat-form-field> -->

      <div mat-dialog-actions class="btndiv">
        <button class="btn btn-danger" type="button" (click)="cancel()">Cancel</button>
        <button class="submit-button" color="primary" type="submit" [disabled]="customerForm.invalid">
          {{ isEditMode ? 'Update' : 'Add' }}
        </button>
      </div>
    </form>
  </div>
</div>
