<div *ngIf="isLoggedIn$ | async; else loginPageLayout">
  

  <nav class="navbar">
    <div class="navbar-brand">
      <a routerLink="/" class="navbar-item brand-text">Cost Management</a>
    </div>

    <div class="navbar-menu">
      <div class="navbar-start">
        <a 
          routerLink="/todos" 
          routerLinkActive="is-active" 
          class="navbar-item">
      
        </a>
      </div>

      <div class="navbar-end">
    
        <div class="profile-container">
          <button
            (click)="toggleDropdown()"
            class="profile-btn"
            title="Profile">
            <i class="material-icons">person</i>
          </button>

          <div class="profile-dropdown" *ngIf="showDropdown">
            <div class="dropdown-username">
              {{userName}}
              {{ userRole }}
            </div>
            <button class="dropdown-logout" (click)="logout()">Logout</button>
          </div>
        </div>
      </div>
    </div>
  </nav>


  <div class="sidenav-container">
    <aside class="custom-sidenav">
      <div class="sidenav-header"></div>
      <ul class="nav-list">

        <li class="nav-item" routerLink="/dashboard/dashh" routerLinkActive="active-link">
          <div class="nav-item-content">
            <span class="material-icons nav-icon">dashboard</span>
            <span class="nav-text">Dashboard</span>
          </div>
        </li>


        <li class="nav-item has-submenu">
          <div class="nav-item-content">
            <span class="material-icons nav-icon">group</span>
            <span class="nav-text">User Management</span>
          </div>
          <ul class="submenu">
            <li routerLink="/entity">
              <span class="material-icons submenu-icon">person</span>&nbsp; User
            </li>
            <li routerLink="/system/roles">
              <span class="material-icons submenu-icon">security</span>&nbsp; Role
            </li>
            <li routerLink="/system/shifts">
              <span class="material-icons submenu-icon">people</span>&nbsp; Shift
            </li>
            <li routerLink="/entity/customers">
              <span class="material-icons submenu-icon">business</span>&nbsp; Customer
            </li>
         
            
          </ul>
        </li>

         <li class="nav-item" routerLink="/system/companypreferences" routerLinkActive="active-link">
          <div class="nav-item-content">
            <span class="material-icons nav-icon">person</span>
            <span class="nav-text">Company Management</span>
          </div>
        </li>




        <li class="nav-item has-submenu">
          <div class="nav-item-content">
            <span class="material-icons nav-icon">inventory_2</span>
            <span class="nav-text">Material & Process Management</span>
          </div>
          <ul class="submenu">
            <li routerLink="/product/raw-materials">
              <span class="material-icons submenu-icon">list_alt</span> Raw Material
            </li>
            <li routerLink="/product">
              <span class="material-icons submenu-icon">category</span> process
            </li>
          
          </ul>
        </li>




        <li class="nav-item" routerLink="/material/customer-details" routerLinkActive="active-link">
          <div class="nav-item-content">
            <span class="material-icons nav-icon">person</span>
            <span class="nav-text">Quotation Generator</span>
          </div>
        </li>


        <li class="nav-item" routerLink="/dashboard/report" routerLinkActive="active-link">
          <div class="nav-item-content">
            <span class="material-icons nav-icon">bar_chart</span>
            <span class="nav-text">Reports</span>
          
          </div>
        </li>
      </ul>
    </aside>


    <main class="container">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>

<ng-template #loginPageLayout>
  <main class="container">
    <router-outlet></router-outlet>
  </main>
</ng-template>
