<div *ngIf="(isLoggedIn$ | async) || currentUrl?.startsWith('/quotation') || currentUrl === '/login'; else loginPageLayout">
  <!-- Navbar - only show when logged in -->
  <nav class="navbar" *ngIf="isLoggedIn$ | async">
    <div class="navbar-brand">
      <a routerLink="/" class="navbar-item brand-text">Cost Management</a>
    </div>

    <div class="navbar-menu">
      <div class="navbar-start"></div>

      <div class="navbar-end">
        <div class="profile-container">
          <button (click)="openDropdown()" class="profile-btn" title="Profile">
            <i class="material-icons">person</i>
          </button>
          <div class="profile-dropdown" *ngIf="showDropdown">
            <div class="dropdown-username">
              {{ userName }} - <br />
              {{ userRole }}
            </div>
            <button class="dropdown-logout" (click)="logout()">Logout</button>
          </div>
        </div>
      </div>
    </div>
  </nav>

  <!-- Sidebar + Main -->
  <div class="sidenav-container">
    <aside class="custom-sidenav" *ngIf="isLoggedIn$ | async">
      <div class="sidenav-header"></div>
      <ul class="nav-list">
        <li *ngFor="let item of sidebarItems" [ngClass]="{'nav-item': true, 'has-submenu': item.submenu}">
          <div class="nav-item-content" (click)="item.submenu ? toggleSubmenu(item.label) : closeSubmenu()" [routerLink]="item.route" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: false}">
            <span class="material-icons nav-icon">{{ item.icon }}</span>
            <span class="nav-text">{{ item.label }}</span>
          </div>
          <ul class="submenu" *ngIf="item.submenu && activeSubmenu === item.label">
            <li *ngFor="let subItem of item.submenu" [routerLink]="subItem.route" routerLinkActive="active-link" (click)="closeSubmenu()">
              <span class="material-icons submenu-icon">{{ subItem.icon }}</span>&nbsp; {{ subItem.label }}
            </li>
          </ul>
        </li>
      </ul>
    </aside>

    <main class="container" [ngClass]="{'full-width': !(isLoggedIn$ | async)}">
      <router-outlet></router-outlet>
    </main>
  </div>
  
</div>

<ng-template #loginPageLayout>
  <main class="container">
    <router-outlet></router-outlet>
  </main>
</ng-template>