
body {
  font-family: Arial, sans-serif;
  background-color: #f3f3f3;
  margin: 0;
  padding: 0;
}

.circular-button {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  min-width: 40px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.primary-button {
  margin-left: 10px;
}

.table-container {
  width: 900px;
  margin: 10px auto;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 25%;
}

.toggle-group {
  flex: 1;
}

.add-section {
  display: flex;
  align-items: center;
  gap: 10px;
}

mat-form-field {
  width: 200px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background-color: #fff;
}

th {
  text-align: left;
  padding: 14px 20px;
  color: #5b84ff;
  font-weight: bold;
  border-bottom: 2px solid #5b84ff;
}

td {
  padding: 14px 20px;
  border-bottom: 1px solid #eeee;
  font-weight: 500;
}

td.actions {
  border-left: 1px solid #ccc;
  padding-left: 20px;
}

tr:hover {
  background-color: #f9f9f9;
}

td mat-icon {
  font-size: 20px;
  cursor: pointer;
}

.icon {
  cursor: pointer;
  margin-right: 10px;
  color: #333;
}

.icon:last-child {
  margin-right: 0;
}

button {
  background-color: #3f51b5; 
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  margin-right: -90px;
  cursor: pointer;
  transition: background-color 0.2s, box-shadow 0.2s;
}

button:hover {
  background-color: #303f9f; 
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(63, 81, 181, 0.3); 
}

button:disabled {
  background-color: #b0bec5;
  cursor: not-allowed;
}

.spin-icon {
  animation: spin 2s linear infinite;
  display: inline-block;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
