body {
  font-family: Arial, sans-serif;
  background-color: #f3f3f3;
  margin: 0;
  padding: 0;
}

.circular-button {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  min-width: 40px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  width: 90%;              /* takes 90% of parent width */
  max-width: 1200px;       /* optional: limit max width */
  margin: 0 auto;          /* center horizontally */
      // background-color: #5b84ff;    /* add spacing inside */

}


.table-container {
  // width: 900px;
  margin: 10px auto;
  background: white;
  border-radius: 10px 10px 10px 10px; 
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2), 0 3px 6px rgba(0, 0, 0, 0.1); 
  overflow:auto;
}



.toggle-group {
  flex: 1;

}

.add-section {
  display: flex;
  align-items: center;
  gap: 10px;
}

mat-form-field {
  width: 200px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background-color: #fff;
}

th {
  text-align: left;
  padding: 14px 20px;
  color: #5b84ff;
  font-weight: bold;
  border-bottom: 2px solid #5b84ff;
}

td {
  padding: 14px 20px;
  border-bottom: 1px solid #eeee;
  font-weight: 500;
}

td.actions {
  border-left: 1px solid #ccc;
  padding-left: 20px;
}

.trh:hover {
  background-color: #f9f9f9;
}

td mat-icon {
  font-size: 20px;
  cursor: pointer;
}

.icon {
  cursor: pointer;
  margin-right: 10px;
  color: #333;
}

.icon:last-child {
  margin-right: 0;
}



.spin-icon {
  animation: spin 2s linear infinite;
  display: inline-block;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.headers{
  display: flex;
  align-items: center;
  justify-content:space-between;
}






