<div class="process-container">
  <div class="header">
    <div class="header-item">
      <h2 style="font-weight: bold;">Process List</h2>
    </div>

    <div class="header-item">
      <div class="search-input">
        <input type="text" placeholder="Search Process Name" [(ngModel)]="searchTerm" (input)="applyFilter()" />
        <button type="button" class="clear-btn" *ngIf="searchTerm" (click)="searchTerm=''; applyFilter()">✕</button>
        <mat-icon class="search-icon">search</mat-icon>
      </div>
    </div>

    <div class="header-item">
      <div class="file-upload-container">
        <label class="file-upload-label">
          <input class="file-upload-container-input" type="file" accept=".xlsx,.xls" (change)="onFileSelected($event)" />
          <span class="file-upload-text">
            <mat-icon class="upload-icon">upload_file</mat-icon>
            <span *ngIf="!selectedFile">Choose File</span>
            <span *ngIf="selectedFile" class="file-name-text">{{ selectedFile.name }}</span>
          </span>
        </label>
        <button type="button" class="btn btn-secondary upload-btn" (click)="onUpload()" [disabled]="!selectedFile || isUploading">
          <mat-icon *ngIf="!isUploading && !uploadSuccess" class="btn-icon">cloud_upload</mat-icon>
          <mat-icon *ngIf="isUploading" class="btn-icon spinning">hourglass_empty</mat-icon>
          <mat-icon *ngIf="uploadSuccess" class="btn-icon success-icon">check_circle</mat-icon>
          <span>{{ uploadSuccess ? 'Uploaded' : (isUploading ? 'Uploading...' : 'Upload') }}</span>
        </button>
        <div *ngIf="isUploading" class="upload-progress">
          <div class="progress-bar" [style.width.%]="uploadProgress"></div>
        </div>
      </div>
    </div>

    <div class="header-item">
      <button 
        type="button" 
        class="download-btn" 
        (click)="onDownload()" 
        [disabled]="isDownloading"
        [class.downloading]="isDownloading"
        title="Download Process Excel">
        <mat-icon class="download-icon" [class.spinning]="isDownloading">
          {{ isDownloading ? 'hourglass_empty' : 'download' }}
        </mat-icon>
        <span class="download-text">{{ isDownloading ? 'Downloading...' : 'Download' }}</span>
      </button>
    </div>

    <div class="header-item">
      <button mat-raised-button color="primary" id="hbtn" (click)="openAddDialog()">
        <mat-icon class="btn-add-icon">add_task</mat-icon>
        Add Process
      </button>
    </div>
  </div>


 <ng-container *ngIf="allProcesses.length ; ">
  <div class="table-container">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>
            <div class="header-cell-content">
              <mat-icon class="header-icon">settings</mat-icon>
              <span>Process Name</span>
            </div>
          </th>
          <th>
            <div class="header-cell-content">
              <mat-icon class="header-icon">engineering</mat-icon>
              <span>Tonnage / Jaw</span>
            </div>
          </th>
          <th>
            <div class="header-cell-content">
              <mat-icon class="header-icon">attach_money</mat-icon>
              <span>Cost Per Hr</span>
            </div>
          </th>
          <th>
            <div class="header-cell-content">
              <mat-icon class="header-icon">precision_manufacturing</mat-icon>
              <span>Machine Centre</span>
            </div>
          </th>
          <th>
            <div class="header-cell-content">
              <mat-icon class="header-icon">tune</mat-icon>
              <span>Actions</span>
            </div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let p of paginatedUsers" class="table-row">
          <td>
         
              <span>{{ p.processName }}</span>
         
          </td>
          <td>{{ p.TonnageJaw }}</td>
          <td>
            <span class="cost-value">₹{{ p.Hours }}</span>
          </td>
          <td>
          
              <span>{{ p.machineCentre }}</span>
     
          </td>
          <td class="actions">
            <button mat-icon-button class="action-btn edit-btn" (click)="openEditDialog(p)" title="Edit">
              <mat-icon class="icon">edit</mat-icon>
            </button>
            <button mat-icon-button class="action-btn delete-btn" (click)="onDelete(p._id)" title="Delete">
              <mat-icon class="icon">delete</mat-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <mat-paginator
      [length]="filteredProcesses.length"
      [pageSize]="pageSize"
      [pageSizeOptions]="[10, 20, 50]"
      (page)="onPageChange($event)"
      showFirstLastButtons
      class="custom-paginator">
    </mat-paginator>
  </div>
</ng-container>



</div>






 