<div class="process-container">
  <div class="header">
    <div class="cust">
  
  <h2 style="font-weight: bold;">Process List</h2>
  </div>

<button  mat-raised-button color="primary" id="hbtn" (click)="openAddDialog()">+ Add Process</button>
</div>
  <!-- Show data when available -->
  <ng-container *ngIf="process$ | async as processes; else loading">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Process Name</th>
          <th>Tonnage / Jaw</th>
          <th>Cost Per Hr</th>
          
          <th>Actions</th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let p of processes">
          <td>{{ p.processName }}</td>
          <td>{{ p.TonnageJaw }}</td>
          <td>{{ p.Hours }}</td>

          <td class="actions">
            <mat-icon
               class="icon" (click)="openEditDialog(p)">edit</mat-icon>
            <mat-icon
              
              class="icon" (click)="onDelete(p._id)">delete</mat-icon>
          </td>
        </tr>
      </tbody>
    </table>
  </ng-container>

  <!-- Fallback template -->
  <ng-template #loading>
    <p>Loading process data...</p>
  </ng-template>
</div>






 