body {
  font-family: Arial, sans-serif;
  background-color: #f3f3f3;
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 600px;
  margin: 20px auto;
}

.toggle-group {
  flex: 1;
}

.add-section {
  display: flex;
  align-items: center;
  gap: 10px;
}

mat-form-field {
  width: 200px;
}

.circular-button {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  min-width: 40px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.primary-button {
  margin-left: 10px;
}

.table-container {
  width: 600px;
  margin: 10px auto;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  overflow: hidden;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background-color: #fff;
}

th {
  text-align: left;
  padding: 14px 20px;
  color: #5b84ff;
  font-weight: bold;
  border-bottom: 2px solid #5b84ff;
}

th.actions-header {
  text-align: right; /* move Actions heading to the right */
}

td {
  padding: 14px 20px;
  border-bottom: 1px solid #eee;
  font-weight: 500;
}

td.actions {
  border-left: 1px solid #ccc;
  padding-left: 20px;
  text-align: right; 
}

tr:hover {
  background-color: #f9f9f9;
}

td mat-icon {
  font-size: 20px;
  cursor: pointer;
}

.icon {
  cursor: pointer;
  margin-right: 5px;
  color: #333;
}

.icon:last-child {
  margin-right: 0;
}