<div class="header">
  <h2>Roles</h2>

  <div class="add-section">
    <mat-form-field appearance="outline" class="role-input">
      <mat-label>Role Name</mat-label>
      <input matInput [(ngModel)]="newRoleName" autocomplete="off" />
    </mat-form-field>

    <button
      mat-raised-button
      color="primary"
      (click)="isEditMode ? updateRole() : addRole()"
      [disabled]="newRoleName.trim().length === 0"
      class="circular-button primary-button"
    >
      <mat-icon>{{ isEditMode ? 'save' : 'add' }}</mat-icon>
    </button>

    <button
      *ngIf="isEditMode"
      mat-raised-button
      color="warn"
      (click)="cancelEdit()"
      class="cancel-button"
    >
      Cancel
    </button>
  </div>
</div>

<div class="table-container">
  <table>
    <thead>
      <tr>
        <th>Role</th>
        <th class="actions-header">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let role of roles$ | async">
        <td>{{ role.role }}</td>
        <td class="actions">
          <button mat-icon-button color="primary" (click)="editRole(role)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="deleteRole(role._id)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </tr>
      <tr *ngIf="(roles$ | async)?.length === 0">
        <td colspan="2" class="no-data">No roles found.</td>
      </tr>
    </tbody>
  </table>
</div>