.cont {
  padding: 16px;
  max-width: 500px; 
}

.dialog-title {
  font-weight: 600;
  margin-bottom: 20px; 
  text-align: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 26px; 
}

mat-form-field {
  width: 100%;
}

mat-dialog-content {
  padding-right: 8px !important; 
}

.dialog-actions {
  display: flex;
  justify-content: flex-end;
  gap: 52px; 
  margin-top: 16px;
}
