
<div class="main">

  <div class="header">
    <div class="cust">
      <h2 style="font-weight: bold;">Customer</h2>
    </div>
  
    <div >
      <button mat-raised-button color="primary" (click)="openAddCustomer()">Add Customer</button>
    </div>
  </div>
  
  <!-- Customer Table -->
  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th style="width: 18%;">Customer Name</th>
          <th style="width: 22%;">Address</th>
          <th style="width: 12%;">GST Number</th>
          <th style="width: 12%;">Phone</th>
          <th style="width: 20%;">Email</th>
          <th style="width: 10%;">Transport</th>
          <th style="width: 6%;">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let customer of customer$ | async">
          <td>{{ customer.customerName }}</td>
          <td id="address">{{ customer.address }}</td>
          <td>{{ customer.gstNumber }}</td>
          <td>{{ customer.phone }}</td>
          <td>{{ customer.email }}</td>
          <td>{{ customer.transport }}</td>
          <td class="actions">
            <mat-icon
              aria-label="Edit customer"
              class="icon"
              (click)="openAddCustomer(customer)"
            >
              edit
            </mat-icon>
            <mat-icon
              aria-label="Delete customer"
              class="icon"
              (click)="deleteCustomer(customer._id)"
            >
              delete
            </mat-icon>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

