<div class="header">
 
   <div class="cust"><h3 style="font-weight: bold;">Customer</h3></div>

  
  <div class="btn">
    <button (click)="openAddCustomer()">Add Customer</button>
  </div>
      

</div>

<!-- Customer Table -->
<div class="table-container">
  <table>
    <thead>
      <tr>
        <th style="width: 21%;">Customer Name</th>
        <th style="width: 50%;">Address</th>
        <th style="width: 12%;">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let customer of customer$ | async">
        <td>{{ customer.customerName }}</td>
        <td>{{ customer.address }}</td>
        <td class="actions">
          <mat-icon
            aria-label="Edit customer"
            class="icon"
            (click)="openAddCustomer(customer)"
          >edit</mat-icon>
          <mat-icon
            aria-label="Delete customer"
            class="icon"
            (click)="deleteCustomer(customer._id)"
          >delete</mat-icon>
        </td>
      </tr>
    </tbody>
  </table>
</div>
