<h2 mat-dialog-title>
  {{ data ? 'Edit Customer' : 'Add Customer' }}
</h2>

<form [formGroup]="customerForm" mat-dialog-content class="customer-form">
  <mat-horizontal-stepper linear #stepper>
    
    <!-- Step 1: Basic Details -->
    <mat-step [stepControl]="customerForm">
      <form [formGroup]="customerForm">
        <ng-template matStepLabel>Basic Details</ng-template>


          <div class="title">
          <h4 class="pd" >Product details</h4>
          <h4 class="ci">Core Input</h4>
        </div>

        <div class="maininputdiv">



          <div class="prodiv">

             <mat-form-field appearance="outline">
            <mat-label>Customer Name</mat-label>
            <input matInput type="text" formControlName="customerName" readonly/>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Product Name</mat-label>
            <input matInput type="text" formControlName="productName" readonly />
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Part Name</mat-label>
            <input matInput type="text" formControlName="partName" readonly />
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Raw Materials</mat-label>
            <mat-select formControlName="rawMaterial" multiple>
              <mat-option *ngFor="let raw of (rawMaterial$ | async)" [value]="raw._id">
                {{ raw.GradeName }} (₹{{ raw.RatePerKg }}/kg)
              </mat-option>
            </mat-select>
          </mat-form-field>

          </div>

           <div class="corediv">

              <mat-form-field appearance="outline">
            <mat-label>Casting Weight</mat-label>
            <input matInput type="number" formControlName="castingWeight" />
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Cavities</mat-label>
            <input matInput type="number" formControlName="cavities" />
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Melting Loss</mat-label>
            <input matInput type="number" formControlName="meltingLoss" />
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Short Weight</mat-label>
            <input matInput type="number" formControlName="shortWeight" />
          </mat-form-field>


           </div>
         

        
        </div>

        <div class="step-actions">
          <button class="btn btn-primary" matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>

    <!-- Step 2: Processes -->
    <mat-step>
      <ng-template matStepLabel>Processes</ng-template>
      <div class="process-container" formArrayName="processes">
         <button mat-mini-fab color="primary" (click)="addProcess()">
        <mat-icon>add</mat-icon>
      </button>
        <div *ngFor="let proc of processes.controls; let i = index" [formGroupName]="i" class="process-row">
          <mat-form-field appearance="outline" class="half-width">
            <mat-label>Process Name</mat-label>
            <mat-select formControlName="processId" (selectionChange)="onProcessSelected($event.value, i)">
              <mat-option *ngFor="let proc of (process$ | async)" [value]="proc._id">
                {{ proc.processName }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline" class="half-width">
            <mat-label>Tonnage/Jaw</mat-label>
            <input matInput formControlName="TonnageJaw" />
          </mat-form-field>

          <mat-form-field appearance="outline" class="half-width">
            <mat-label>Hours</mat-label>
            <input matInput type="number" formControlName="Hours" />
          </mat-form-field>

          <mat-form-field appearance="outline" class="half-width">
            <mat-label>Cycle Time / Weight</mat-label>
            <input matInput type="number" formControlName="cycleTime" />
          </mat-form-field>

          <mat-form-field appearance="outline" class="half-width">
            <mat-label>Cavity</mat-label>
            <input matInput type="number" formControlName="cavity" />
          </mat-form-field>

         <div class="formula-box">
        <h5>  Cost
      {{ calculateProcessValue(proc.value) }}
    </h5>
      </div>

          <button mat-icon-button color="warn" class="delete-btn" (click)="removeProcess(i)">
            <mat-icon class="icon">delete</mat-icon>
          </button>
          
        </div>
           
      </div>

  

      <div class="step-actions">
        <button class="btn btn-primary" matStepperNext>Next</button>
      </div>
    </mat-step>

  <mat-step>
      <ng-template matStepLabel>Other Details</ng-template>
     <div class="other-details">
      <mat-form-field appearance="outline">
        <mat-label>Rejection</mat-label>
        <input matInput type="number" formControlName="rejection" />
      </mat-form-field>

     <mat-form-field appearance="outline">
  <mat-label>Packing</mat-label>
  <mat-select formControlName="packing">
    <mat-option *ngFor="let option of packingOptions" [value]="option">
      {{ option }}
    </mat-option>
  </mat-select>
</mat-form-field>


      <mat-form-field appearance="outline">
        <mat-label>Interest Rate</mat-label>
        <input matInput type="number" formControlName="interestRate" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Inspector Cost</mat-label>
        <input matInput type="number" formControlName="inspectorCost" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Tool Ambience</mat-label>
        <input matInput type="text" formControlName="toolAmbience" />
      </mat-form-field>

      <div class="step-actions">
        <button class="btn btn-warning" (click)="incrementRevision() " >make as another review</button>
        <button class="btn btn-primary"  matStepperNext (click)="onSave()">Save</button>
      </div>
    </div>
    </mat-step>

    <mat-step>
       <ng-template matStepLabel>Quotation view</ng-template>

    </mat-step>

  </mat-horizontal-stepper>
</form>
